.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 12px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.is-pending {
    transition: .3s;
    opacity: .7;
}

.js360-container {
    line-height: 1em;

    .js360-controls {
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: flex;

        .js360-control {
            cursor: pointer;
            display: none;

            svg {
                width: 35px;
                height: 35px;
            }

            &.js360-load {
                display: block;

                svg {
                    path, polygon {
                        transition: .3s;
                    }
                }

                &:hover svg {
                    path, polygon {
                        fill: #b89f60;
                    }
                }
            }

            &.js360-pause, &.js360-play {
                &.visible {
                    display: block;
                }

                svg {
                    transition: .3s;
                }

                &:hover svg {
                    fill: #b89f60;
                }
            }
        }
    }
}
